#catalog {
    margin: 60px 130px;
    color: #374754;
}

#catalog .text-4 {
    font-size: 20px;
}

.alcoholic-drinks, .soft-drinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.soft-drinks {
    display: none;
}

.drinks {
    display: flex;
    border-top: 1px solid #37475480;
    border-bottom: 1px solid #37475480;
    margin: 30px 0;
}

.drinks p {
    margin: 10px 40px 10px 10px;
    color: #37475480;
    cursor: pointer;
}

.drinks-type {
    display: flex;
    border-bottom: 1px solid #37475480;
    margin: -15px 0;
    padding: 0 0 0 120px;
}

.drinks-type p {
    margin: 0 40px 10px 10px;
    color: #37475480;
    cursor: pointer;
}

.drinks p:hover, .drinks-type p:hover {
    color: #374754;
}

.drinks_block {
    width: 32%;
    display: flex;
    justify-content: center;
    border: 1px solid #0000001A;
    box-shadow: 0px 0px 15px 0px #0000001A;
    border-radius: 7px;
    padding: 30px 0;
    margin: 40px 0 0;
}

.drinks_img {
    height: 200px;
}


.drinks_img img {
    height: 100%;
}

.drinks_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 5px;
    color: #000;
}

.drinks_text h4 {
    font-size: 21px;
}

.drinks_text p {
    font-size: 13px;
}


@media screen and (min-width: 1500px) {
    

    .drinks_block {
        width: 30%;
    }
    
    .drinks_img {
        height: 260px;
    }
    
    .drinks_text {
        padding: 20px 20px 5px 30px;
    }
    
    .drinks_text h4 {
        font-size: 30px;
    }
    
    .drinks_text p {
        font-size: 17px;
    }
}



@media screen and (max-width: 480px) {
    #catalog {
        margin: 90px 20px;
    }
    
    #catalog .text-4 {
        font-size: 15px;
    }
    
    .alcoholic-drinks, .soft-drinks {
        justify-content: center;
        margin: 20px 0 40px;
    }
    
    .drinks {
        display: flex;
        margin: 20px 0;
    }
    
    .drinks p {
        margin: 10px 40px 10px 10px;
        font-size: 13px;
    }
    
    .drinks-type {
        display: flex;
        border-bottom: 1px solid grey;
        margin: -15px 0;
        display: none;
    }
    
    .drinks-type p {
        margin: 0 40px 10px 10px;
        color: grey;
        cursor: pointer;
    }

    .drinks_block {
        width: 85%;
        margin: 20px 0 0;;
    }
}