#clients-page {
    margin: 40px 130px 80px;
    color: #374754;
    font-size: 18px;
}

#clients-page .text-2 {
    width: 615px;
    line-height: 1.3;
}

#clients-page h4 {
    font-weight: normal;
    font-size: 24px;
    margin: 20px 0;
}

#clients-page li {
    margin-left: 40px;
    list-style: disc;
}

.advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.adv_block {
    width: 16%;
    height: 160px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #0000001A;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #0000000D;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adv_block img {
    width: 55px;
    margin: 5px 0 15px;
}


@media screen and (max-width: 480px) {
    #clients-page {
        margin: 100px 20px 60px;
    }

    #clients-page h2 {
        font-size: 25px;
        line-height: 1.8;
    }
    
    #clients-page .text-2 {
        width: 100%;
    }
    
    #clients-page h4 {
        font-weight: normal;
        font-size: 14px;
        margin: 20px 0 10px;
    }

    #clients-page p {
        font-size: 12px;
    }
    
    #clients-page li {
        margin-left: 20px;
        font-size: 12px;
    }
    
    .adv_block {
        width: 150px;
        height: 140px;
        font-size: 10px;
        padding: 5px;
        margin: 10px 0;
    }
    
    .adv_block img {
        width: 40px;
        margin: 5px 0 5px;
    }
}