#footer {
    background-color: #415465;
    padding: 35px 170px 30px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.footer_logo img{
    width: 220px;
}

.footer_logo p {
    font-size: 10px;
    margin-top: 15px;
}

.footer_menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer_menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

hr {
    border: none;
    border-top: 1px solid #fff;
    margin: 20px 0;
    width: 560px;
}

.footer_menu .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13px;
}

.footer_menu .contact p {
    display: flex;
    align-items: center;
}

.footer_menu .social-networks {
    display: flex;
    justify-content: flex-end;
}

.social-networks img {
    width: 20px;
    margin: 10px 5px 0;
}



@media screen and (max-width: 480px) {
    #footer {
        padding: 20px 20px 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .footer_logo img{
        width: 144px;
    }
    
    .footer_logo p {
        font-size: 8px;
        margin-top: 0;
    }
    
    .footer_menu ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
    }
    
    .footer_menu li a {
        font-size: 12px;
        margin-right: 10px;
    }
    
    hr {
        margin: 10px 0;
        width: 100%;
    }
    
    .footer_menu .contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 7px;
    }
    
    .footer_menu .social-networks {
        display: flex;
        justify-content: flex-end;
    }
    
    .social-networks img {
        width: 18px;
        margin: 10px 5px 0;
    }
}