#news-page2 {
    margin: 60px 200px 130px;
    color: #374754;
}

#news-page2 img {
    width: 100%;
    margin: 20px 0;
}

#news-page2 h2 {
    text-align: center;
}

#news-page2 p {
    font-size: 15px;
    line-height: 1.5;
}